{
 "reddit": {
   "id": "{{ r_id }}",
   "secret": "{{ r_secret }}",
   "user_agent": "{{ r_ua }}",
   "username": "{{ r_un }}"
  },
 "details": {
   "keywords": "{{ keywords }}",
   "subreddit": "{{ subreddit }}"
  },
 "slack": {
   "token": "{{ token }}",
   "bot_name": "{{ bot_name }}",
   "channel": "{{ channel }}" 
  }
}
